user lists
<style tyle="text/css">
table{border-collapse: collapse;border-spacing: 0;}
td{border: 1px solid #ccc;padding: 2px 5px ;}
</style>
<table border="1" style="border: 1px solid #ccc;line-height: 24px">
<tr>
<td width="50">编号</td>
<td width="80">名称</td>
<td width="50">性别</td>
<td width="120">邮箱</td>
<td width="100">手机号</td>
<td width="100">QQ</td>
<td width="100">操作</td>
</tr>
{% for user in users %}
<tr>
<td>{{ user.getId() }}</td>
<td>{{ user.getUsername() }}</td>
<td>{{ user.getSex() }}</td>
<td>{{ user.getEmail() }}</td>
<td>{{ user.getMobile() }}</td>
<td>{{ user.getQq() }}</td>
<td><a href="{{ path('acme_demo_edit',{'id':user.getId}) }}">编辑</a> | 
<a href="{{ path('acme_demo_del',{'id':user.getId}) }}" onclick="return confirm('确定删除吗？')">删除</a></td>
</tr>
{% endfor %}
<tr>
<td colspan="7">
<a href="{{ path('acme_demo_add') }}">添加</a>  
<a href="{{ path('acme_demo_logout') }}">退出</a>
</td>
</tr>
</table>